/*dabong*/
h3{
    width:1100px; 
    height: 820px;
    font-size: 15px;
    border-style:solid;
    border-color:#ffcccc;
    font-family: cursive;
    margin-left: 45px;
    background-image: url(bamboo\ shoots.jpg);
    color:black;
}
/*saayote*/
h4{
    width:1100px; 
    height: 820px;
    font-size: 15px;
    border-style:solid;
    border-color:#ffcccc;
    font-family: cursive;
    margin-left: 100px;
    background-image: url(chayote.jpg);
    color:whitesmoke;
}
/*pipino*/
h6{
    width:1100px; 
    height: 820px;
    font-size: 15px;
    border-style:solid;
    border-color:#ffcccc;
    font-family:fantasy;
    margin-left: 100px;
    background-image: url(cucumber.jpg);
    color:whitesmoke;
}
.talong{
    width:1100px; 
    height: 820px;
    font-size: 15px;
    border-style:solid;
    border-color:#ffcccc;
 font-family:fantasy;
    margin-left: 100px;
    background-image: url(eggplant.jpg);
    color:whitesmoke;
}
.chaya{
    width:1100px; 
    height: 820px;
    font-size: 15px;
    border-style:solid;
    border-color:#ffcccc;
 font-family:fantasy;
    margin-left: 100px;
    background-image: url(chaya.jpg);
    color:whitesmoke;
}


 /*body*/
 h5{
    width:1100px; 
    height: 280px;
    font-size: 15px;
    border-style:solid;
    border-color:#ffcccc;
    font-family: cursive;
    margin-left: 10px;
   background-color: #e9e9e9;
    color:black;
  }
.iba{
    width:1100px; 
    height: 150px;
    font-size: 15px;
    border-style:solid;
    border-color:#ffcccc;
    font-family: cursive;
    margin-left: 10px;
   background-color: #e9e9e9;
    color:black;
  }