body {
  background-image: url("bg1.jpg");
  background-repeat: no-repeat;
  height: 300px;
  padding: 15px;
}

* { box-sizing: border-box; }
h1
{
    font-size: 50px;
    color: yellowgreen;
    margin-top: 10px;
    margin-left: 450px;
    font-family: 'Castellar';
}
a{
  color:hotpink;
}


.autocomplete {
  /*the container must be positioned relative:*/

  position: relative;
  display: inline-block;
  margin-left: 180px;
  margin-top: 50px;
 
}
input {
  border: 1px solid transparent;
  background-color: #f1f1f1;
  padding: 10px;
  font-size: 16px;
}
input[type=text] {
  background-color: #f1f1f1;
  width: 100%;
}
input[type=submit] {
  background-color: DodgerBlue;
  color: #fff;
}
.autocomplete-items {
  position: absolute;
  border: 1px solid #d4d4d4;
  border-bottom: none;
  border-top: none;
  z-index: 99;
  /*position the autocomplete items to be the same width as the container:*/
  top: 100%;
  left: 0;
  right: 0;
}
.autocomplete-items div {
  padding: 10px;
  cursor: pointer;
  background-color: #fff; 
  border-bottom: 1px solid #d4d4d4; 
}
.autocomplete-items div:hover {
  /*when hovering an item:*/
  background-color: #e9e9e9; 
}
.autocomplete-active {
  /*when navigating through the items using the arrow keys:*/
  background-color: DodgerBlue !important; 
  color: #ffffff; 
}

/* Dropdown Button */
.dropbtn {
  background-color: #3498DB;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
 margin-top: 0px;
  
}

/* Dropdown button on hover & focus */
.dropbtn:hover, .dropbtn:focus {
  background-color: #2980B9;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #ddd}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {display:block;}

.button {
  background-color: none; 
  list-style-type: none;
  text-align: center;
  margin: 0;
  padding: 0;
}
img.small{
  width: 60px;
  height: 60px;
  word-spacing: 100%;
}
p{
  text-align: center;
  font-family: 'bell mt';
  font-size: 25px;
  color: Black;
}
.Image img{
  height: 225px;
  width: 225px;
  border-radius: 50%;
  margin-left: 565px;
}
img.align-center{
  display:block;
  margin:0px auto;

}
h2{
margin-left: 430px;
font-family: cursive;
font-size: 40px;
color: white;
}


.head {
  width:800px; 
  height: 35px;
  text-align: center;
  margin-left: 250px;
  font-size: 30px;
  border-style:solid;
  border-color:black;
  background-color: #ffcccc;
background-image: linear-gradient(to bottom right,green,yellow);
  font-family: 'Colonna MT';
}
.head1 {
 width:450px; 
  height: 35px;
 
  text-align: left;
  font-size: 21px;
  border-style:solid;
  border-color:black;
  background-image: linear-gradient(to bottom right,#6190E8,#a78fe8);
  font-family: Arial, Helvetica, sans-serif;
  }
 
 
   
